.todolist{
    
    margin: auto;
    width:40%;
 
}


.todo{
    display:flex;
   margin-top: 20px;
   justify-content: center;
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
   
}

.striked{
    text-decoration: line-through;
    
    margin-left: 10px;
}
.dele{
    height:25px;
    border-radius: 5px;
    border: 0px;
  
    background-color: rgb(7, 185, 245);
}
.hola{
    margin-bottom: 30px;
}
.hola1{
    color: red;
}
.hola2{
    color:green;
}
